<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
    <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getCreationYear()}">VALUE</p>
    <div th:if="${person}">
        <p th:text="${'Книга сейчас у: ' + person.getFullName() + ', ' + person.getBirthYear()}">person</p>
        <form th:Method="PATCH" th:Action="@{/books/{id}/release(id=${book.getBookId()})}">
            <input type="submit" value="Освободить">
        </form>
    </div>
    <div th:if="${people}">
        <p>Книга свободна</p>
        <form th:Method="PATCH" th:Action="@{/books/{id}/assign(id=${book.getBookId()})}">
            <label for="personToAssign">Выберите человека: </label>
            <select th:object="${personToAssign}" th:field="*{personId}" id="personToAssign">
                <option th:each="person : ${people}" th:value="${person.getPersonId()}"
                        th:text="${person.getFullName()}"></option>
            </select>
            <input type="submit" value="Назначить книгу"/>
        </form>
    </div>
    <hr/>
    <form th:Action="@{/books/{id}/edit(id=${book.getBookId()})}">
        <input type="submit" value="Редактировать">
    </form>
    <br/>
    <form th:Method="DELETE" th:Action="@{/books/{id}(id=${book.getBookId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>