<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
    <p th:text="${person.getFullName() + ', ' + person.getBirthYear()}">VALUE</p>
    <div th:if="${books.isEmpty()}">
        <p>Человек пока не взял ни одной книги</p>
        <hr>
    </div>
    <div th:if="${!books.isEmpty()}">
        <hr>
        <p>Взятые книги: </p>
        <div th:each="book : ${books}">
            <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getCreationYear()}">book</p>
        </div>
        <hr>
    </div>
    <form th:Action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Редактировать">
    </form>
    <br/>
    <form th:Method="DELETE" th:Action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>